<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <link rel="stylesheet" href=" {{ stylesheet|default('https://unpkg.com/mvp.css@1.12/mvp.css', true) }} "> -->
        <link rel="stylesheet" href=" {{ stylesheet }} ">
        <script src="https://unpkg.com/htmx.org@1.8.2"></script>
        <script src="https://unpkg.com/idiomorph/dist/idiomorph-ext.min.js"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/path-deps.js"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
        <meta charset="utf-8">
        <meta name="hstream" content="hstream">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
    </head>

