name: Python application

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install UV
      run: |
        curl -LsSf https://astral.sh/uv/install.sh | sh
        echo "$HOME/.cargo/bin" >> $GITHUB_PATH

    - name: Install dependencies with UV
      run: |
        uv sync

    - name: Run pre-commit
      run: |
        uv run pre-commit run --all-files

    - name: Install Playwright browsers
      run: |
        uv run playwright install

    - name: Run tests
      run: |
        uv run pytest --reruns 3 # githubs playwright sometimes fails

    - name: Build package
      if: github.ref == 'refs/heads/main'
      run: |
        uv build

    - name: Publish package to PyPI
      if: github.ref == 'refs/heads/main'
      env:
        UV_PUBLISH_TOKEN: ${{ secrets.PYPI_TOKEN }}
      run: |
        uv publish
